Demos/Demo_2_NodeRED_program/Node-red-sample-program.json
[
    {
        "id": "35ddae4a.bf7672",
        "type": "tab",
        "label": "Session 5 Demo MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "769a7323.9ee83c",
        "type": "mqtt in",
        "z": "35ddae4a.bf7672",
        "name": "",
        "topic": "telemetry/#",
        "qos": "1",
        "datatype": "json",
        "broker": "d2cd6f8b.2fe5",
        "nl": false,
        "rap": false,
        "rh": "0",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "2ba3ff20.bdbf"
            ]
        ]
    },
    {
        "id": "2ba3ff20.bdbf",
        "type": "json",
        "z": "35ddae4a.bf7672",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 247.13892030715942,
        "y": 560.0277862548828,
        "wires": [
            []
        ]
    },
    {
        "id": "fda3e632.f134b8",
        "type": "debug",
        "z": "35ddae4a.bf7672",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 258.25,
        "y": 715.9999856948853,
        "wires": []
    },
    {
        "id": "d844aaf9.e81b08",
        "type": "switch",
        "z": "35ddae4a.bf7672",
        "name": "Threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "45",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "32",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 140,
        "wires": [
            [
                "220af389.08a05c",
                "df1c47a5.669d1"
            ],
            [
                "1629d27.539892e"
            ]
        ]
    },
    {
        "id": "220af389.08a05c",
        "type": "function",
        "z": "35ddae4a.bf7672",
        "name": "",
        "func": "msg.payload = {\n    chatId : 617231136,\n    type : \"message\",\n    content : \"Temperature Alert\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 100,
        "wires": [
            [
                "3e5b7fdc.fc5e4"
            ]
        ]
    },
    {
        "id": "3e5b7fdc.fc5e4",
        "type": "telegram sender",
        "z": "35ddae4a.bf7672",
        "name": "",
        "bot": "7ad5e7ad.fed0a8",
        "haserroroutput": true,
        "outputs": 2,
        "x": 1080,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "270b6853.239e28",
        "type": "ui_gauge",
        "z": "35ddae4a.bf7672",
        "name": "Temperature",
        "group": "c0386db3.c99f3",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature Indoor",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 505.6249885559082,
        "y": 92.49998188018799,
        "wires": []
    },
    {
        "id": "5229250e.0dcbfc",
        "type": "ui_gauge",
        "z": "35ddae4a.bf7672",
        "name": "Rel Humidity",
        "group": "c0386db3.c99f3",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Rel. Humidity Indoor",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "b34a4b8d.1d2e58",
        "type": "ui_gauge",
        "z": "35ddae4a.bf7672",
        "name": "Dew Point",
        "group": "c0386db3.c99f3",
        "order": 7,
        "width": 6,
        "height": 4,
        "gtype": "donut",
        "title": "Dew Point",
        "label": "°C Td",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 501.875,
        "y": 388.7499876022339,
        "wires": []
    },
    {
        "id": "6e54893c.5306e8",
        "type": "ui_chart",
        "z": "35ddae4a.bf7672",
        "name": "Temperature Indoor",
        "group": "213f572d.bb6de8",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Temperature Indoor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Temperature Indoor",
        "dot": false,
        "ymin": "15",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 525,
        "y": 46.25,
        "wires": [
            []
        ]
    },
    {
        "id": "fb229b2f.790a08",
        "type": "ui_chart",
        "z": "35ddae4a.bf7672",
        "name": "Rel. Humidity",
        "group": "213f572d.bb6de8",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Rel. Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Rel. Humidity",
        "dot": false,
        "ymin": "10",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 520,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b197d44a.1181d8",
        "type": "ui_chart",
        "z": "35ddae4a.bf7672",
        "name": "Dew Point",
        "group": "213f572d.bb6de8",
        "order": 5,
        "width": 6,
        "height": 4,
        "label": "Dew Point",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Dew Point",
        "dot": false,
        "ymin": "5",
        "ymax": "30",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 501.8749885559082,
        "y": 436.249981880188,
        "wires": [
            []
        ]
    },
    {
        "id": "f38ddd82.bebda",
        "type": "ui_ui_control",
        "z": "35ddae4a.bf7672",
        "name": "",
        "events": "all",
        "x": 88.25,
        "y": 715.9999856948853,
        "wires": [
            [
                "fda3e632.f134b8"
            ]
        ]
    },
    {
        "id": "9155bb86.f69bd8",
        "type": "switch",
        "z": "35ddae4a.bf7672",
        "name": "Threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "80",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "fbd40576.868e38"
            ]
        ]
    },
    {
        "id": "fbd40576.868e38",
        "type": "function",
        "z": "35ddae4a.bf7672",
        "name": "",
        "func": "msg.payload = {\n    chatId : 617231136,\n    type : \"message\",\n    content : \"Too humid - beach time ;)\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "274e77a9.e242c8"
            ]
        ]
    },
    {
        "id": "274e77a9.e242c8",
        "type": "telegram sender",
        "z": "35ddae4a.bf7672",
        "name": "",
        "bot": "7ad5e7ad.fed0a8",
        "haserroroutput": true,
        "outputs": 2,
        "x": 840,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "457c4130.3067b",
        "type": "mqtt in",
        "z": "35ddae4a.bf7672",
        "name": "",
        "topic": "telemetry/temperature_indoor",
        "qos": "1",
        "datatype": "auto",
        "broker": "d2cd6f8b.2fe5",
        "nl": false,
        "rap": false,
        "rh": "0",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "6e54893c.5306e8",
                "270b6853.239e28",
                "d844aaf9.e81b08"
            ]
        ]
    },
    {
        "id": "483bf4aa.f32abc",
        "type": "mqtt in",
        "z": "35ddae4a.bf7672",
        "name": "",
        "topic": "telemetry/humidity_indoor",
        "qos": "1",
        "datatype": "auto",
        "broker": "d2cd6f8b.2fe5",
        "nl": false,
        "rap": false,
        "rh": "0",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "5229250e.0dcbfc",
                "fb229b2f.790a08",
                "9155bb86.f69bd8"
            ]
        ]
    },
    {
        "id": "91d1a22c.50a9d",
        "type": "mqtt in",
        "z": "35ddae4a.bf7672",
        "name": "",
        "topic": "telemetry/dew_point_indoor",
        "qos": "1",
        "datatype": "auto",
        "broker": "d2cd6f8b.2fe5",
        "nl": false,
        "rap": false,
        "rh": "0",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "b34a4b8d.1d2e58",
                "b197d44a.1181d8"
            ]
        ]
    },
    {
        "id": "d2100f43.a29d7",
        "type": "ui_toast",
        "z": "35ddae4a.bf7672",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "topic": "",
        "name": "Temperature Alert",
        "x": 1090,
        "y": 160,
        "wires": []
    },
    {
        "id": "df1c47a5.669d1",
        "type": "change",
        "z": "35ddae4a.bf7672",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Temperature Alert",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 160,
        "wires": [
            [
                "d2100f43.a29d7",
                "e85e2f4e.cb8f7"
            ]
        ]
    },
    {
        "id": "fc421523.1e6f18",
        "type": "mqtt out",
        "z": "35ddae4a.bf7672",
        "name": "Panic Mode",
        "topic": "cmdn/sampling",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d2cd6f8b.2fe5",
        "x": 1410,
        "y": 220,
        "wires": []
    },
    {
        "id": "e85e2f4e.cb8f7",
        "type": "change",
        "z": "35ddae4a.bf7672",
        "name": "Panic Sampling ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 220,
        "wires": [
            [
                "fc421523.1e6f18"
            ]
        ]
    },
    {
        "id": "1629d27.539892e",
        "type": "change",
        "z": "35ddae4a.bf7672",
        "name": "Panic Sampling - disable",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 300,
        "wires": [
            [
                "677705e.df2a57c"
            ]
        ]
    },
    {
        "id": "677705e.df2a57c",
        "type": "mqtt out",
        "z": "35ddae4a.bf7672",
        "name": "Normal Mode",
        "topic": "cmdn/sampling",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d2cd6f8b.2fe5",
        "x": 1440,
        "y": 300,
        "wires": []
    },
    {
        "id": "d2cd6f8b.2fe5",
        "type": "mqtt-broker",
        "name": "HiveMQBroker",
        "broker": "1a72e178acf1458a8a6814ac97606398.s2.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "galeoiot-dev",
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7ad5e7ad.fed0a8",
        "type": "telegram bot",
        "botname": "fourIRnodebot",
        "usernames": "agallende, alijaalejandro",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "c0386db3.c99f3",
        "type": "ui_group",
        "name": "Dashboards",
        "tab": "36988d9a.ae13a2",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "213f572d.bb6de8",
        "type": "ui_group",
        "name": "Charts",
        "tab": "36988d9a.ae13a2",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "36988d9a.ae13a2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]