Demos/Demo-4- Apache NIfi/Nifi-Flow/NIfi-Session7-demo.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>067596f0-017a-1000-e59f-650dd27760e7</groupId>
    <name>NIfi-Session7-demo</name>
    <snippet>
        <connections>
            <id>0a63a8a7-16f4-38a5-0000-000000000000</id>
            <parentGroupId>07094f2d-8748-36a2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>07094f2d-8748-36a2-0000-000000000000</groupId>
                <id>50ba1d83-0927-3fc1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Message</selectedRelationships>
            <selectedRelationships>parse.failure</selectedRelationships>
            <source>
                <groupId>07094f2d-8748-36a2-0000-000000000000</groupId>
                <id>4187bc35-f12f-3579-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>2dd5252a-c11d-3132-0000-000000000000</id>
            <parentGroupId>07094f2d-8748-36a2-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-text-property</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>{
  "type": "record",
  "name": "telemetry_schema",
  "namespace": "io.bonitoo.nifi",
  "doc:" : "AVRO scheme for Telemetry",
  "fields": [
    { "name": "temperature_inside", "type": "float" },
    { "name": "humidity_inside", "type": "float" },
    { "name": "dew_point_inside", "type": "float" },
    { "name": "temperature", "type": "int" },
    { "name": "humidity", "type": "int" },
    { "name": "wind_speed", "type": "int" },
    { "name": "ux_index", "type": "int" },
    { "name": "weather_descriptions", "type": "int" },
    { "name": "pressure", "type": "int" },
    { "name": "precip", "type": "int" },
    { "name": "visibility",  "type": "int" },
    { "name": "wind_degree", "type": "int"},
    { "name": "feelslike", "type": "int"},
    { "name": "cloud_cover", "type": "int"}
  ]
}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>9d4128a1-5e33-3fc7-0000-000000000000</id>
            <parentGroupId>07094f2d-8748-36a2-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-influx-database-nar</artifact>
                <group>org.influxdata.nifi</group>
                <version>1.11.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>inluxdb-ssl</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>inluxdb-ssl</name>
                    </value>
                </entry>
                <entry>
                    <key>inluxdb-ssl-auth</key>
                    <value>
                        <name>inluxdb-ssl-auth</name>
                    </value>
                </entry>
                <entry>
                    <key>influxdb-url</key>
                    <value>
                        <name>influxdb-url</name>
                    </value>
                </entry>
                <entry>
                    <key>influxdb-connection-timeout</key>
                    <value>
                        <name>influxdb-connection-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>influxdb-username</key>
                    <value>
                        <name>influxdb-username</name>
                    </value>
                </entry>
                <entry>
                    <key>influxdb-password</key>
                    <value>
                        <name>influxdb-password</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardInfluxDatabaseService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>inluxdb-ssl</key>
                </entry>
                <entry>
                    <key>inluxdb-ssl-auth</key>
                    <value>REQUIRED</value>
                </entry>
                <entry>
                    <key>influxdb-url</key>
                    <value>http://localhost:8086</value>
                </entry>
                <entry>
                    <key>influxdb-connection-timeout</key>
                    <value>0 seconds</value>
                </entry>
                <entry>
                    <key>influxdb-username</key>
                </entry>
                <entry>
                    <key>influxdb-password</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.influxdata.nifi.services.StandardInfluxDatabaseService</type>
        </controllerServices>
        <processors>
            <id>4187bc35-f12f-3579-0000-000000000000</id>
            <parentGroupId>07094f2d-8748-36a2-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-mqtt-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Broker URI</key>
                        <value>
                            <name>Broker URI</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Client ID</key>
                        <value>
                            <name>Client ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will Topic</key>
                        <value>
                            <name>Last Will Topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will Message</key>
                        <value>
                            <name>Last Will Message</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will Retain</key>
                        <value>
                            <name>Last Will Retain</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Will QoS Level</key>
                        <value>
                            <name>Last Will QoS Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Session state</key>
                        <value>
                            <name>Session state</name>
                        </value>
                    </entry>
                    <entry>
                        <key>MQTT Specification Version</key>
                        <value>
                            <name>MQTT Specification Version</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout (seconds)</key>
                        <value>
                            <name>Connection Timeout (seconds)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Alive Interval (seconds)</key>
                        <value>
                            <name>Keep Alive Interval (seconds)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group ID</key>
                        <value>
                            <name>Group ID</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Topic Filter</key>
                        <value>
                            <name>Topic Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Quality of Service(QoS)</key>
                        <value>
                            <name>Quality of Service(QoS)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Queue Size</key>
                        <value>
                            <name>Max Queue Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>add-attributes-as-fields</key>
                        <value>
                            <name>add-attributes-as-fields</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Broker URI</key>
                        <value>tcp://18.218.2.204:1883</value>
                    </entry>
                    <entry>
                        <key>Client ID</key>
                        <value>nifi</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>galeo</value>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Last Will Topic</key>
                    </entry>
                    <entry>
                        <key>Last Will Message</key>
                    </entry>
                    <entry>
                        <key>Last Will Retain</key>
                    </entry>
                    <entry>
                        <key>Last Will QoS Level</key>
                    </entry>
                    <entry>
                        <key>Session state</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>MQTT Specification Version</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Connection Timeout (seconds)</key>
                        <value>30</value>
                    </entry>
                    <entry>
                        <key>Keep Alive Interval (seconds)</key>
                        <value>60</value>
                    </entry>
                    <entry>
                        <key>Group ID</key>
                    </entry>
                    <entry>
                        <key>Topic Filter</key>
                        <value>telemetry</value>
                    </entry>
                    <entry>
                        <key>Quality of Service(QoS)</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Max Queue Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>record-reader</key>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                    </entry>
                    <entry>
                        <key>add-attributes-as-fields</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConsumeMQTT</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Message</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>parse.failure</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.mqtt.ConsumeMQTT</type>
        </processors>
        <processors>
            <id>50ba1d83-0927-3fc1-0000-000000000000</id>
            <parentGroupId>07094f2d-8748-36a2-0000-000000000000</parentGroupId>
            <position>
                <x>760.0</x>
                <y>8.0</y>
            </position>
            <bundle>
                <artifact>nifi-influx-database-nar</artifact>
                <group>org.influxdata.nifi</group>
                <version>1.11.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-service</key>
                        <value>
                            <identifiesControllerService>org.influxdata.nifi.services.InfluxDatabaseService</identifiesControllerService>
                            <name>influxdb-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-dbname</key>
                        <value>
                            <name>influxdb-dbname</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-enable-gzip</key>
                        <value>
                            <name>influxdb-enable-gzip</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-log-level</key>
                        <value>
                            <name>influxdb-log-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-consistency-level</key>
                        <value>
                            <name>influxdb-consistency-level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-retention-policy</key>
                        <value>
                            <name>influxdb-retention-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-enable-batch</key>
                        <value>
                            <name>influxdb-enable-batch</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-batch-flush-duration</key>
                        <value>
                            <name>influxdb-batch-flush-duration</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-batch-actions</key>
                        <value>
                            <name>influxdb-batch-actions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-batch-jitter-duration</key>
                        <value>
                            <name>influxdb-batch-jitter-duration</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-batch-buffer-limit</key>
                        <value>
                            <name>influxdb-batch-buffer-limit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-measurement</key>
                        <value>
                            <name>influxdb-measurement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-tags</key>
                        <value>
                            <name>influxdb-tags</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-tags-field-behavior</key>
                        <value>
                            <name>influxdb-tags-field-behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-fields</key>
                        <value>
                            <name>influxdb-fields</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-fields-field-behavior</key>
                        <value>
                            <name>influxdb-fields-field-behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-timestamp-field</key>
                        <value>
                            <name>influxdb-timestamp-field</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-timestamp-precision</key>
                        <value>
                            <name>influxdb-timestamp-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-complex-field-behavior</key>
                        <value>
                            <name>influxdb-complex-field-behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-null-behavior</key>
                        <value>
                            <name>influxdb-null-behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>influxdb-max-records-size</key>
                        <value>
                            <name>influxdb-max-records-size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>2dd5252a-c11d-3132-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>influxdb-service</key>
                        <value>9d4128a1-5e33-3fc7-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>influxdb-dbname</key>
                        <value>mydb</value>
                    </entry>
                    <entry>
                        <key>influxdb-enable-gzip</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>influxdb-log-level</key>
                        <value>NONE</value>
                    </entry>
                    <entry>
                        <key>influxdb-consistency-level</key>
                        <value>ONE</value>
                    </entry>
                    <entry>
                        <key>influxdb-retention-policy</key>
                        <value>autogen</value>
                    </entry>
                    <entry>
                        <key>influxdb-enable-batch</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>influxdb-batch-flush-duration</key>
                        <value>1000 ms</value>
                    </entry>
                    <entry>
                        <key>influxdb-batch-actions</key>
                        <value>1000</value>
                    </entry>
                    <entry>
                        <key>influxdb-batch-jitter-duration</key>
                        <value>0 ms</value>
                    </entry>
                    <entry>
                        <key>influxdb-batch-buffer-limit</key>
                        <value>10000</value>
                    </entry>
                    <entry>
                        <key>influxdb-measurement</key>
                        <value>telemetry</value>
                    </entry>
                    <entry>
                        <key>influxdb-tags</key>
                        <value>tags</value>
                    </entry>
                    <entry>
                        <key>influxdb-tags-field-behavior</key>
                        <value>IGNORE</value>
                    </entry>
                    <entry>
                        <key>influxdb-fields</key>
                        <value>temperature_inside,humidity_inside,dew_point_inside,temperature,humidity,wind_speed,ux_index,weather_descriptions,pressure,precip,visibility,wind_degree,feelslike,cloud_cover</value>
                    </entry>
                    <entry>
                        <key>influxdb-fields-field-behavior</key>
                        <value>IGNORE</value>
                    </entry>
                    <entry>
                        <key>influxdb-timestamp-field</key>
                        <value>timestamp</value>
                    </entry>
                    <entry>
                        <key>influxdb-timestamp-precision</key>
                        <value>NANOSECONDS</value>
                    </entry>
                    <entry>
                        <key>influxdb-complex-field-behavior</key>
                        <value>TEXT</value>
                    </entry>
                    <entry>
                        <key>influxdb-null-behavior</key>
                        <value>IGNORE</value>
                    </entry>
                    <entry>
                        <key>influxdb-max-records-size</key>
                        <value>1 MB</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutInfluxDatabaseRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.influxdata.nifi.processors.PutInfluxDatabaseRecord</type>
        </processors>
    </snippet>
    <timestamp>06/15/2021 08:10:21 CEST</timestamp>
</template>
