Demos/Demo-4- Apache NIfi/Node-RED/Session7-demo_JSON.json
[{"id":"a068cb8a.d7e9c8","type":"tab","label":"Session 7 Demo","disabled":false,"info":""},{"id":"29981998.413da6","type":"mqtt in","z":"a068cb8a.d7e9c8","name":"","topic":"telemetry","qos":"1","datatype":"auto","broker":"d2cd6f8b.2fe5","nl":false,"rap":false,"x":540,"y":400,"wires":[["3ebad8b5.1c1638"]]},{"id":"3ebad8b5.1c1638","type":"json","z":"a068cb8a.d7e9c8","name":"","property":"payload","action":"","pretty":false,"x":687.1389203071594,"y":400.0277862548828,"wires":[["4bdb7cba.a79084","9088ed0c.34b59","637c8f5b.2685e","90ae38c7.2398a8","5ccdff5e.e1941","4f3649b6.f73df8"]]},{"id":"4bdb7cba.a79084","type":"change","z":"a068cb8a.d7e9c8","name":"","rules":[{"t":"move","p":"payload.temperature_inside","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":300,"wires":[["6aadd8be.591f38","9c7b2f82.6b50d","16b6a3b6.934d6c"]]},{"id":"5eb10458.4284ec","type":"debug","z":"a068cb8a.d7e9c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":718.25,"y":695.9999856948853,"wires":[]},{"id":"9088ed0c.34b59","type":"change","z":"a068cb8a.d7e9c8","name":"","rules":[{"t":"move","p":"payload.humidity_inside","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":360,"wires":[["56f0c64.1812d38","640666e6.c07d48","e752aab3.d96788"]]},{"id":"637c8f5b.2685e","type":"change","z":"a068cb8a.d7e9c8","name":"","rules":[{"t":"move","p":"payload.wind_speed","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":420,"wires":[["d41e2b77.e57268","ad604eaa.8d978"]]},{"id":"90ae38c7.2398a8","type":"change","z":"a068cb8a.d7e9c8","name":"","rules":[{"t":"move","p":"payload.pressure","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":460,"wires":[["d617e40e.f73f38","dcc4ca2b.684928"]]},{"id":"5ccdff5e.e1941","type":"change","z":"a068cb8a.d7e9c8","name":"","rules":[{"t":"move","p":"payload.wind_degree","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":520,"wires":[["8b6f0313.422bb"]]},{"id":"16b6a3b6.934d6c","type":"switch","z":"a068cb8a.d7e9c8","name":"Rule Engine","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"45","vt":"num"},{"t":"gt","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":280,"wires":[["c10ff87a.fb5ee8","6a002a41.8ca6f4"],["139c42ab.84b36d"]]},{"id":"6a002a41.8ca6f4","type":"function","z":"a068cb8a.d7e9c8","name":"","func":"msg.payload = {\n    chatId : 617231136,\n    type : \"message\",\n    content : \"Temperature Alert\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":160,"wires":[["5e4c0e46.9727d"]]},{"id":"5e4c0e46.9727d","type":"telegram sender","z":"a068cb8a.d7e9c8","name":"","bot":"7ad5e7ad.fed0a8","haserroroutput":true,"outputs":2,"x":1680,"y":160,"wires":[[],[]]},{"id":"6aadd8be.591f38","type":"ui_gauge","z":"a068cb8a.d7e9c8","name":"Temperature","group":"c0386db3.c99f3","order":5,"width":6,"height":4,"gtype":"gage","title":"Temperature Indoor","label":"ºC","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":200,"wires":[]},{"id":"56f0c64.1812d38","type":"ui_gauge","z":"a068cb8a.d7e9c8","name":"Rel Humidity","group":"c0386db3.c99f3","order":6,"width":6,"height":4,"gtype":"gage","title":"Rel. Humidity Indoor","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":340,"wires":[]},{"id":"d41e2b77.e57268","type":"ui_gauge","z":"a068cb8a.d7e9c8","name":"Wind Speed","group":"c0386db3.c99f3","order":11,"width":6,"height":4,"gtype":"donut","title":"Wind Speed","label":"m/s","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1274.5000114440918,"y":532.2499914169312,"wires":[]},{"id":"d617e40e.f73f38","type":"ui_gauge","z":"a068cb8a.d7e9c8","name":"Pressure","group":"c0386db3.c99f3","order":12,"width":6,"height":4,"gtype":"wave","title":"Pressure","label":"mbar","format":"{{value}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1269.5000114440918,"y":650.9999933242798,"wires":[]},{"id":"8b6f0313.422bb","type":"ui_gauge","z":"a068cb8a.d7e9c8","name":"Wind Direction","group":"c0386db3.c99f3","order":15,"width":6,"height":4,"gtype":"compass","title":"Wind Direction","label":"deg","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1287.0000114440918,"y":782.2499904632568,"wires":[]},{"id":"9c7b2f82.6b50d","type":"ui_chart","z":"a068cb8a.d7e9c8","name":"Temperature Indoor","group":"213f572d.bb6de8","order":3,"width":6,"height":4,"label":"Temperature Indoor","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Temperature Indoor","dot":false,"ymin":"15","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":140,"wires":[[]]},{"id":"640666e6.c07d48","type":"ui_chart","z":"a068cb8a.d7e9c8","name":"Rel. Humidity","group":"213f572d.bb6de8","order":10,"width":6,"height":4,"label":"Rel. Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Rel. Humidity","dot":false,"ymin":"10","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1288.25,"y":435.99998569488525,"wires":[[]]},{"id":"ad604eaa.8d978","type":"ui_chart","z":"a068cb8a.d7e9c8","name":"Wind Speed","group":"213f572d.bb6de8","order":11,"width":6,"height":4,"label":"Wind Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Wind Speed","dot":false,"ymin":"5","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1274.5,"y":579.7499856948853,"wires":[[]]},{"id":"dcc4ca2b.684928","type":"ui_chart","z":"a068cb8a.d7e9c8","name":"Pressure","group":"213f572d.bb6de8","order":12,"width":6,"height":4,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Pressure","dot":false,"ymin":"500","ymax":"1800","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1272,"y":703.4999856948853,"wires":[[]]},{"id":"e8540133.f926a","type":"ui_ui_control","z":"a068cb8a.d7e9c8","name":"","events":"all","x":548.25,"y":695.9999856948853,"wires":[["5eb10458.4284ec"]]},{"id":"434fe802.6d6768","type":"kafkajs-producer","z":"a068cb8a.d7e9c8","name":"","client":"c1bd49dd.07d1a8","topic":"galeo-dev-iot-alerts-meteo","advancedoptions":false,"acknowledge":"all","partition":"","headeritems":{},"key":"","responsetimeout":30000,"transactiontimeout":60000,"metadatamaxage":300000,"allowautotopiccreation":false,"x":2170,"y":660,"wires":[]},{"id":"e752aab3.d96788","type":"switch","z":"a068cb8a.d7e9c8","name":"Rule Engine","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"60","vt":"num"},{"t":"lt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":480,"wires":[["b36b07af.f122d8"],["2a168f81.4cbb8"]]},{"id":"b5f361c6.c6097","type":"json","z":"a068cb8a.d7e9c8","name":"","property":"payload","action":"","pretty":false,"x":1890,"y":660,"wires":[["434fe802.6d6768"]]},{"id":"c10ff87a.fb5ee8","type":"function","z":"a068cb8a.d7e9c8","name":"","func":"global.set(\"temperature_inside\",msg.payload);\ncurrentTemperature = global.get(\"temperature_inside\");\n\n//msg.payload = global.get(\"Temp\");\nmsg.payload = {\n    \"TemperatureValue\":currentTemperature,\n    \"TemperatureThreshold\":45,\n    \"AlertType\":\"Warning\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":260,"wires":[["90deb2ea.865f6","807f096f.e6c808","a1e789ee.5a3918","d766bb7f.da9528"]]},{"id":"139c42ab.84b36d","type":"function","z":"a068cb8a.d7e9c8","name":"","func":"global.set(\"temperature_inside\",msg.payload);\ncurrentTemperature = global.get(\"temperature_inside\");\n\n//msg.payload = global.get(\"Temp\");\nmsg.payload = {\n    \"TemperatureValue\":currentTemperature,\n    \"TemperatureThreshold\":50,\n    \"AlertType\":\"Critical\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":320,"wires":[["90deb2ea.865f6"]]},{"id":"b36b07af.f122d8","type":"function","z":"a068cb8a.d7e9c8","name":"","func":"global.set(\"humidity_inside\",msg.payload);\ncurrentHumidity = global.get(\"humidity_inside\");\n\n//msg.payload = global.get(\"Temp\");\nmsg.payload = {\n    \"HumidityValue\":currentHumidity,\n    \"HumidityThreshold\":60,\n    \"AlertType\":\"Warning\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":640,"wires":[["b5f361c6.c6097","ba941840.ecb918","86d4960f.89db18","9c9488d.cdc6278","aa933518.60ca38"]]},{"id":"2a168f81.4cbb8","type":"function","z":"a068cb8a.d7e9c8","name":"","func":"global.set(\"humidity_inside\",msg.payload);\ncurrentHumidity = global.get(\"humidity_inside\");\n\n//msg.payload = global.get(\"Temp\");\nmsg.payload = {\n    \"HumidityValue\":currentHumidity,\n    \"HumidityThreshold\":40,\n    \"AlertType\":\"Critical\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":680,"wires":[["b5f361c6.c6097"]]},{"id":"90deb2ea.865f6","type":"json","z":"a068cb8a.d7e9c8","name":"","property":"payload","action":"","pretty":false,"x":1730,"y":280,"wires":[["c6073ad6.ba8e08"]]},{"id":"c6073ad6.ba8e08","type":"kafkajs-producer","z":"a068cb8a.d7e9c8","name":"","client":"c1bd49dd.07d1a8","topic":"galeo-dev-iot-alerts-meteo","advancedoptions":false,"acknowledge":"all","partition":"","headeritems":{},"key":"","responsetimeout":30000,"transactiontimeout":60000,"metadatamaxage":300000,"allowautotopiccreation":false,"x":1910,"y":280,"wires":[]},{"id":"9c9488d.cdc6278","type":"ui_text","z":"a068cb8a.d7e9c8","group":"2504ca6.d989c36","order":1,"width":6,"height":1,"name":"","label":"AlertType","format":"{{msg.payload.AlertType}}","layout":"row-left","x":2090,"y":860,"wires":[]},{"id":"ba941840.ecb918","type":"ui_text","z":"a068cb8a.d7e9c8","group":"2504ca6.d989c36","order":5,"width":6,"height":1,"name":"","label":"Humidity","format":"{{msg.payload.HumidityValue}}","layout":"row-left","x":2080,"y":740,"wires":[]},{"id":"86d4960f.89db18","type":"ui_text","z":"a068cb8a.d7e9c8","group":"2504ca6.d989c36","order":4,"width":6,"height":1,"name":"","label":"Threshold","format":"{{msg.payload.HumidityThreshold}}","layout":"row-left","x":2080,"y":780,"wires":[]},{"id":"d766bb7f.da9528","type":"ui_text","z":"a068cb8a.d7e9c8","group":"2504ca6.d989c36","order":2,"width":6,"height":1,"name":"","label":"AlertType","format":"{{msg.payload.AlertType}}","layout":"row-left","x":1780,"y":500,"wires":[]},{"id":"807f096f.e6c808","type":"ui_text","z":"a068cb8a.d7e9c8","group":"2504ca6.d989c36","order":6,"width":6,"height":1,"name":"","label":"Temperature","format":"{{msg.payload.TemperatureValue}}","layout":"row-left","x":1790,"y":400,"wires":[]},{"id":"a1e789ee.5a3918","type":"ui_text","z":"a068cb8a.d7e9c8","group":"2504ca6.d989c36","order":3,"width":6,"height":1,"name":"","label":"Threshold","format":"{{msg.payload.TemperatureThreshold}}","layout":"row-left","x":1780,"y":440,"wires":[]},{"id":"aa933518.60ca38","type":"ui_audio","z":"a068cb8a.d7e9c8","name":"","group":"2504ca6.d989c36","voice":"Alex","always":"","x":2130,"y":940,"wires":[]},{"id":"4f3649b6.f73df8","type":"debug","z":"a068cb8a.d7e9c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":200,"wires":[]},{"id":"d2cd6f8b.2fe5","type":"mqtt-broker","name":"AWS MQTT Broker","broker":"18.218.2.204","port":"1883","clientid":"NodeREDAWS","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7ad5e7ad.fed0a8","type":"telegram bot","botname":"fourIRnodebot","usernames":"agallende, alijaalejandro","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"c0386db3.c99f3","type":"ui_group","name":"Dashboards","tab":"36988d9a.ae13a2","order":1,"disp":true,"width":"12","collapse":true},{"id":"213f572d.bb6de8","type":"ui_group","name":"Charts","tab":"36988d9a.ae13a2","order":2,"disp":true,"width":"12","collapse":true},{"id":"c1bd49dd.07d1a8","type":"kafkajs-client","name":"galeo-dev-kafka","brokers":"pkc-lz6r3.northeurope.azure.confluent.cloud:9092","clientid":"node-red-full","connectiontimeout":"3000","requesttimeout":"25000","advancedretry":false,"maxretrytime":"30000","initialretrytime":"300","factor":"0.2","multiplier":"2","retries":"5","auth":"sasl","tlsselfsign":false,"tlscacert":"","tlsclientcert":"","tlsprivatekey":"","tlspassphrase":"","saslssl":true,"saslmechanism":"plain","loglevel":"error"},{"id":"2504ca6.d989c36","type":"ui_group","name":"Alerts","tab":"36988d9a.ae13a2","order":3,"disp":true,"width":"12","collapse":true},{"id":"36988d9a.ae13a2","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]